@import "tailwindcss";

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0f0e;
}
::-webkit-scrollbar-thumb {
  background: #1a3530;
  border-radius: 3px;
}
